{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "38",
                    "firefox": "47",
                    "opera": "25"
                }
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ]
    ]
}